<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title style="font-family: cursive;">🤖Kammu AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylehome.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

    <!-- nav bar start  -->
    <nav class="navbar navbar-expand-lg " style="z-index: 1; background-color: rgb(243, 175, 243);">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('QA')}}">
                <h2><b style="font-family: cursive;">🤖Kammu AI</b></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('QA') }}">Ask Questions</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            More Info
                        </a>
                        <ul class="dropdown-menu" style="background-color: rgb(243, 175, 243);">
                            <li><a class="dropdown-item" href="https://shreyasshridharkulkarni.netlify.app/">Author</a>
                            </li>
                            <li><a class="dropdown-item" href="https://github.com/Shreyu-07">GitHub</a></li>
                            <li><a class="dropdown-item"
                                    href="https://www.linkedin.com/in/shreyas-shridhar-kulkarni-946a0225a/?originalSubdomain=in">Linkedin</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- nav bar ends  -->


    <main>
        <div class="container-md">
            <center>
                <h2 style="font-family: cursive;"><b>🤖Kammu AI 💬 Chat Area 💬</b></h2>
            </center>
        </div>
        <!--  -->
        {%if inputs%}

        <div class="container textArea">
            <ul>
                
                <ul style="float:right; font-family: 'Times New Roman', Times, serif; font-size: larger;">🙋🏻‍♂️👉 {{inputs}}</ul><br><br>
                <ul style="float:left; position: relative; left: -1.5cm; font-family: 'Times New Roman', Times, serif; font-size: larger;">🤖👉 {{ai}}</ul>
                

            </ul>
        </div>
        {%endif%}

        <div class="container-fluid fixed-bottom">
            <form action="/QA" method="post">
                <div class="withbtn" style="max-width: 100vw; border: 0cap; position: relative;">
                    <div class="input-group mb-3" style="width: 100%;">
                        <span class="input-group-text" id="inputGroup-sizing-default"
                            style="background-color: rgb(62, 60, 60); color: white;">Prompt</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" name="inputs">
                        <button type="submit" class="btn btn-success"
                            style="height: max-content; margin-left: 0.1rem; position: relative; width: 2rem;">➣</button>
                    </div>
                </div>
            </form>
        </div><br><br>

    </main><br>






</body>

</html>
